<html ng-app="cycleApp">
  <head>
    <script src="lodash.js"></script>
    <script src="angular.js"></script>
    <script src="cyclecontroller.js"></script>
  </head> 
  <body ng-controller="CycleController">
    <div ng-style="percentStyle" style="float:left; background-color:black;">-</div>
    <div style="float:left; width: 100%"></div>
    <span ng-click="back()" style="font-size:3em; float:left">Back -</span>
    <span style="font-size:3em; float:left; padding-left:70px">
      {{prettySecondsLeft}} - {{prettyTimes}}
    </span>
    <span ng-click="skip()" style="font-size:3em; float:left"> - Skip</span>
    <img ng-click="togglePause()" ng-src="{{imageSrc}}" alt="Smiley face" 
         style="height: 90%;   margin-left: auto; margin-right: auto;">
  </body>
</html>
