<html ng-app="cycleApp">
  <head>
    <script src="lodash.js"></script>
    <script src="angular.js"></script>
    <script src="cyclecontroller.js"></script>
  </head> 
  <body ng-controller="CycleController">
    <div ng-style="percentStyle" style="background-color:black;">-</div>
    <div style="width: 100%, height:2px"></div>
    <span style="font-size:3em; float:left; padding-left:70px">
      <span ng-click="back()">Back -</span>
      {{prettySecondsLeft}} - {{prettyTimes}}
    </span>
    <span ng-click="skip()" style="font-size:3em; float:left"> - Next</span>
    <img ng-click="togglePause()" ng-src="{{imageSrc}}" alt="Smiley face" 
         style="height: 90%;   margin-left: auto; margin-right: auto;">
  </body>
</html>
